@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
:root {
    --AlmostWhite: hsl(0, 0%, 98%);
    --MediumGray: #696969;
    --AlmostBlack: rgb(20, 20, 20);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    font-family: 'Epilogue', sans-serif;
    background-color: var(--AlmostWhite);
}

.navbarMenu {
    display: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;
}

.canvasCover {
    display: none;
    color: var(--MediumGray);
    position: fixed;
    top: 0;
    left: 0;
    font-size: 16px;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(20, 20, 20, 0.8);
    z-index: 1;
}

.canvas {
    position: absolute;
    min-height: 100%;
    right: 0;
    top: 0;
    padding: 24px;
    background-color: white;
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 32px;
    overflow-y: scroll;
}

.canvas .close {
    display: flex;
    flex-direction: row;
    justify-content: end;
    cursor: pointer;
}

.canvas svg {
    width: fit-content;
}

.canvas p {
    cursor: pointer;
}

.canvas .canvasW {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.canvas .select {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.canvas .downC, .downF {
    display: block;
}

.canvas .upC, .canvas .upF {
    display: none;
}

.canvas .dropdownF.show, .dropdownC.show {
    display: flex;
}
.canvasW .dropdownF.show, .canvasW .dropdownC.show {
    display: flex;
}

.canvas .visible {
    display: none;
}

.canvas .visible1 {
    display: block;
}

.canvas .dropdownF {
    display: none;
    flex-direction: column;
    gap: 16px;
    padding: 24px 24px 0 24px;
}
    
.canvas .todo, .calendar, .reminder, .planing {
    display: flex;
    gap: 16px;
    cursor: pointer;
}
    
.canvas .dropdownC {
    display: none;
    flex-direction: column;
    gap: 16px;
    padding: 24px 24px 0 24px;
}

.canvas .dropdownC p {
    cursor: pointer;
}

.canvas .dropdownF.show {
    display: flex;
}

.canvas .dropdownC.show {
    display: flex;
}

.canvas .auth {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    font-size: 14px;
}
    
.canvas .register {
    width: 100%;
    text-align: center;
    padding: 12px 18px;
    border: 1px solid var(--MediumGray);
    border-radius: 12px;
}

.menu {
    cursor: pointer;
}

.hero-mobile {
    width: 100vw;
}

.hero-web {
    display: none;
}

#aside {
    padding: 0 16px;
}

.description {
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.description h1 {
    font-size: 35px;
    color: var(--AlmostBlack);
}

.description p {
    font-size: 16px;
    text-align: center;
    color: var(--MediumGray);
    line-height: 24px;
}

.description button {
    padding: 12px 20px;
    background-color: var(--AlmostBlack);
    color: var(--AlmostWhite);
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid var(--AlmostBlack);
}

.description button:hover {
    background-color: var(--AlmostWhite);
    color: var(--AlmostBlack);
}

.client {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}

.client1 {
    height: 100%;
    width: 82px;
}

.client2 {
    height: 100%;
    width: 52px;
}

.client3 {
    height: 100%;
    width: 64px;
}

.client4 {
    height: 100%;
    width: 60px;
}

.footer {
    padding: 42px 18px;
    text-align: center;
    color: var(--AlmostBlack);
}

@media screen and (min-width: 1440px) {
    .header {
        padding: 20px 36px;
        justify-content: start;
        gap: 54px
    }

    .canvasCover {
        display: none;
    }

    .navbarMenu {
        width: 100%;
        color: var(--MediumGray);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }

    .navbarMenu p {
        cursor: pointer;
    }

    .navbarMenu p:hover {
        color: var(--AlmostBlack);
        fill: var(--AlmostBlack);
    }

    .navbarMenu .register:hover {
        color: var(--AlmostBlack);
        border: 1px solid var(--AlmostBlack);
    }

    .navMenu {
        display: flex;
        flex-direction: row;
        gap: 36px;
    }

    .select {
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;
    }

    .downC,
    .downF{
        display: block;
    }

    .upC,
    .upF{
        display: none;
    }

    .dropdownF.show,
    .dropdownC.show {
      display: flex;
    }

    .visible {
      display: none;
    }

    .visible1 {
      display: block;
    }

    .dropdownF {
        position: absolute;
        top: 64px;
        left: 106px;
        display: none;
        flex-direction: column;
        gap: 16px;
        padding: 24px;
        background: white;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    
    .todo, .calendar, .reminder, .planing {
        display: flex;
        gap: 16px;
        cursor: pointer;
    }
    
    .dropdownC {
        position: absolute;
        top: 64px;
        left: 288px;
        display: none;
        flex-direction: column;
        gap: 16px;
        padding: 24px;
        background: white;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .dropdownC p {
        cursor: pointer;
    }

    .dropdownF.show {
        display: flex;
    }

    .dropdownC.show {
        display: flex;
    }

    .auth {
        display: flex;
        flex-direction: row;
        gap: 36px;
        align-items: center;
    }
    
    .register {
        padding: 12px 18px;
        border: 1px solid var(--MediumGray);
        border-radius: 12px;
    }

    .menu {
        display: none;
    }

    .main {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin: 0 120px 0 144px;
        padding: 42px 0;
    }

    #aside {
        width: 47%;
    }

    .description {
        align-items: start;
        gap: 54px;
        padding: 100px 0;
    }

    .description h1 {
        font-size: 78px;
        min-width: 500px;
    }

    .description p {
        font-size: 18px;
        text-align:start;
        max-width: 460px;
    }

    .description button {
        padding: 16px 28px;
    }

    .hero-mobile{
        display: none;
    }

    .hero-web{
        display: block;
        width: 41%;
    }

    .client {
        justify-content: start;
        gap: 40px;
    }

    .client1 {
        height: 100%;
        width: 112px;
    }

    .client2 {
        height: 100%;
        width: 70px;
    }

    .client3 {
        height: 100%;
        width: 84px;
    }

    .client4 {
        height: 100%;
        width: 84px;
    }
}